@font-face {
    font-family: pixel;
    src: url(slkscr.ttf);
}

body {
    background-color: rgb(49, 54, 56);
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    font-family: pixel;
    text-align: center;
}

img {
    width: 70px;
    height: 70px;
}

#size-input {
    font-family: pixel;
    box-sizing: border-box;
    width: 100px;
}

.inputButton {
    color: white;
    border-radius: 7px;
    font-family: pixel;
    background-color: #4f606b;
    border: 3px solid black;
}

.inputButton:hover {
    border-radius: 7px;
    color: black;
    background-color: rgb(162, 193, 212);
    border: 3px solid black;
}

.inputButton:active {
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.color-change {
    text-align: center;
    border: 3px solid black;
    border-radius: 7px;
    width: 220px;
    height: 500px;
    margin-bottom: 10px;
    background-color: #303a41;
}

.grid-change {
    text-align: center;
    border: 3px solid black;
    border-radius: 7px;
    width: 220px;
    height: 75px;
    background-color: #303a41;
}

.grid-container {
    background-color: white;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
}

.grid-cell {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.grid-cell:hover {
    background-color: gray;
}

.colors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    border-radius: 7px;
    width: 72px;
    height: 74px;
    background-color: white;
    margin: 3px;
}

button:hover {
    opacity: 0.7;
    border: 3px solid rgb(119, 119, 119);
}

button:active {
    transform: scale(1.03);
}

#red {
    background-color: rgb(255, 0, 0);
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#brown {
    background-color: rgb(97, 18, 18);
}

#purple {
    background-color: purple;
}

#white {
    background-color: white;
}

.title {
    color: white;
    font-family: pixel;
    margin: 10px;
}

.options {
    font-family: pixel;
    background-color: #4f606b;
    color: white;
    margin-left: 35px;
    margin-top: 10px;
    width: 150px;
    height: 50px;
}

.options:hover {
    color: black;
    background-color: rgb(162, 193, 212);
    border: 3px solid black;
}

.options:active {
}

.hover {
    color: black;
    background-color: rgb(162, 193, 212);
    border: 3px solid black;
}

.current-color {
    font-family: pixel;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid black;
    border-radius: 7px;
    width: 220px;
    height: 75px;
    margin-bottom: 10px;
    background-color: #303a41;
    color: white;
}
