@font-face {
    font-family: pixel;
    src: url(slkscr.ttf);
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: pixel;
    text-align: center;
}

#size-input {
    box-sizing: border-box;
    width: 100px;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.left-side {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.color-change {
    text-align: center;
    border: 3px solid black;
    width: 200px;
    height: 350px;
    margin-bottom: 10px;
}

.grid-change {
    text-align: center;
    border: 3px solid black;
    width: 200px;
    height: 100px;
}

.grid-container {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
    padding: 0px;
    margin: 0px;
    border: 3px solid black;
}

.grid-cell {
    box-sizing: border-box;
    text-align: center;
    border: 1px solid black;
    background-color: white;
}

.grid-cell:hover {
    background-color: gray;
}

.colors-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

button {
    border: 3px solid black;
    border-radius: 7px;
    width: 72px;
    height: 74px;
    background-color: white;
    margin: 3px;
}

button:hover {
    opacity: 50%;
}

#red {
    background-color: red;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#green {
    background-color: green;
}

#orange {
    background-color: orange;
}

#black {
    background-color: black;
}

#purple {
    background-color: purple;
}

#pink {
    background-color: pink;
}

/* grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px; */
